<h3>Employees</h3>
<table class="table" id="employees">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Projects</th>
        </tr>
    </thead>
    {{#each member_data}}
    <tr>
        <td>
            {{this.id}}
        </td>
        <td>
            {{this.first_name}}
        </td>
        <td>
            <form class="employee-projects">
                <input type="hidden" class="member_id" type="text" value={{this.id}}>
                <button class="btn btn-secondary">View Projects</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>