<header>
    <h3><span id="employee_name"></span>'s Project List</h3>
</header>
<table class="table" id="projects">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                Projects
            </th>
            <th scope="col">
                Estimated Hours
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    {{#each project_data}}
    <tr>
        <td>{{this.title}} <input type="hidden" class="employee_name" type="text" value="{{this.name}}"></td>
        <td>{{this.hours}}</td>
        <td>
            <form class="project-tasks">
                <input type="hidden" class="project_id" type="text" value={{this.id}}>
                <button type="submit" class="btn btn-secondary">View Tasks</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>
<a href="/">Back to Main</a>