<h2>{{this.title}}</h2>
<table class="table" id="projects">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                Tasks
            </th>
            <th scope="col">
                Assigned To
            </th>
            <th scope="col">
                Estimated Hours
            </th>
        </tr>
    </thead>
    {{#each task_data}}
    <tr>
        <td>{{this.task}}</td>
        <td>{{this.employee}}</td>
        <td>{{this.hours}}</td>
    </tr>
    {{/each}}
</table>