<header>
    <h3 id="project_title"></h3>
</header>
<table class="table" id="projects">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                Tasks
            </th>
            <th scope="col">
                Assigned To
            </th>
            <th scope="col">
                Estimated Hours
            </th>
        </tr>
    </thead>
    {{#each task_data}}
    <tr>
        <td>{{this.task}} 
            <input type="hidden" class="project_title" type="text" value="{{this.title}}"></td>
        <td>{{this.employee}}</td>
        <td>{{this.hours}}</td>
    </tr>
    {{/each}}
    <tr>
        <td colspan="2"></td>
        <td class="hours">Total Hours: <span id="total_hours"></span></td>
    </tr>
</table>
<a href="/">Back to Main</a>